VisualElement {
}

#MainContainer {
    width: 45%;
    height: 100%;
}

.PositionLabelContainer {
    width: 40%;
    padding: 2px;
    border-width: 2px;
    border-color: black;
    background-color: black;
    color: white;
    -unity-text-align: middle-left;
}
